*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.sticky{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    border: 3px solid #000000;
    background-color: rgb(122, 122, 122);
    margin: 0px;
    padding-left: 00px;
}
.clearfix{
    overflow: auto;
}  
.box{
    float: left;
    width: 33.33%;
    height:100px;
    text-align: center;
}  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a:link{
    text-decoration: none;
    color:sandybrown;
    font-size: 30px;
}
a:hover, a:active, a:visited{
    text-decoration: none;
    color:blueviolet;
}
table,th,tr,td{
    border-collapse: collapse;
    border: 1px solid seagreen;
}
p{
    color:burlywood
}
body{
    background-color: black;
}
div.fixed{
    position: fixed;
    top: 60;
    right: 0;
    width: 100%;
    border: 3px solid #bb1288;
    background-color: darkcyan;
    margin: 0px;
    padding-left: 10px;
}
#P12{
    color:goldenrod;
}
#COLORRED{
    color:#bb1288;
}
button{
    border: 4px solid rgb(189, 102, 26);
    background-color: rgb(36, 173, 54);
    padding: 8px;
    /*padding-left:  15px;
    padding-right: 15px;*/
    color:darkviolet;
}