body{
    background-color:rgba(196, 196, 42, 0.849);
}
table,th,tr,td{
    border: 6px solid rgb(145, 32, 32);
    border-collapse: collapse;
    
}
button{
    border: 5px solid rgb(67, 41, 138);
    background-color: rgb(229, 255, 0);
    padding: 30px;
    padding-left:  45px;
    padding-right: 45px;
    color: darkviolet;
    font-size: xx-large;
}
a:link{
    text-decoration: none;
    color:black
}
a:hover{
    color: goldenrod;

}