*{margin: 0;
padding: 0;
font-family:'poppins' ,sans-serif;
text-align:center;

}

img{
	padding-top: 10px;
  border-radius:20px;
	text-align:center;

}



div{
	font-family:Cursive;
	font-style: oblique;
  font-size:25px;


}
h1{text-align:right;
padding-right:200px;
}
h2{
    color: #bc4476;
    margin: 1rem auto;
    line-height: 3rem;
	font-size:40px;
}

div{
  text-align: right;
padding-left:200px;
width:75%;
}
h2{text-align:right;
padding-right:100px;
width:75%;

}

form{
  text-align: right;
  margin-right: 300px;
  font-size: 18px;
}
form label{
  padding: 5px;
}
form input{
  margin: 6px;
}
.intro{    font-weight: bold;

}
.extend{
  margin-bottom: 200px;
}

.btn{
  margin: 20px;
  padding: 5px;
  font-size: 20px;
}









#asd{display:none;}