*{margin: 0;
padding: 0;
font-family:'poppins' ,sans-serif;
}
.about1{
	font-size: 80px;
	text-align:center;
	
}
img{
	width:100%;
    height:200px;
background-position:center;
background-size:cover;
position:relative;
}
.icon{
	width:30px;
	height:30px;
border-radius:100px;

  margin-left: 100px;
  margin-right: auto;
  width: 3%;
}
.center {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
text-align: center;
 line-height: 2;
 font-style: oblique;
  font-weight: bold;
  color:SlateBlue;
border-style: dotted;
  border-color: blue;
}
body {
background-image: url("bg3.png"), url("bg1.jpg");
background-color: #f2e6ff;
}
#sho{
  margin:40px;
  padding: 3px;
  background-color: white;
  border: grey solid 2px;
}