*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    background: linear-gradient(#09ed27, #125d05);
    background-repeat: no-repeat;
    height:100vh;
} 
.container{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px black solid;
    height:350px;
    width: 400px;
    box-shadow: 15px rgba(0,0,0,0.05);
    border-radius: 10px;
}
.form-group input{
    margin: 10px;
    width: 90%;
    font-size: 15px;
    color:#067515;
    height: 40px;
    word-spacing: 3px;
    border: none;
    outline: none;
    border-bottom: 2px black solid;             
}

.login{
    text-align: center;
    padding: 15px 0;
    margin-bottom: 9px;
    border-bottom:solid 1px silver;
}
.btn{
    text-align: center;
    margin-top: 30px;
}
.btn input{
    border-radius: 25px;
    height: 50px;
    width: 80%;
    color: #e9f4fb;
    font-size: 18px;
    font-weight: 700;
    background-color: #3ede53;
    border: 2px solid;
}
.btn input:hover{
    border-color:#3ede53;
    transition:0.5;
    cursor: pointer;
}
.signup{
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
}
.signup button{
    text-decoration: none;
    color: #3ede53;
    border: 0px;
    background-color: transparent;
}
.signup button:hover{
    text-decoration: underline ;
    cursor: pointer;
}